.page__login {
  max-width: 358px;
  width: 100%;
  padding-top: 60px;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {
  .page__login {
    max-width: 260px;
    padding-top: 40px;
  }
}

.login__title {
  text-align: center;
  min-height: 28px;
  margin: 0 0 50px;
  color: var(--main-color);
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

@media screen and (max-width: 550px) {
  .login__title {
    margin-bottom: 40px;
  }
}

.login__subtitle {
  margin: 15px 0 0 0;
  text-align: center;
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.login__subtitle-link {
  text-decoration: none;
  color: var(--main-color);
}
